body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

#navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #4cacaf;
    padding: 10px; 
}

header {
    text-align: center;
    padding: 20px;
    background-color: #A8DF8E;
    color: #fff;
}

#logo {
    margin: 0;
}

#navigation-bar a {
    margin-right: 20px;
    color: #fff;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-container {
    width: 100%;
    max-width: 1000px;
}

.calculator-section {
    width: 100%;
    margin-bottom: 20px;

}

form {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#luas-result,
#keliling-result {
    font-weight: bold;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4cacaf;
    color: #fff;
}

.Luas {
     background-color: #FFB534;
     padding: 1rem 1rem;
     text-align: center;
}

.Keliling {
    background-color: #FFB534;
     padding: 1rem 1rem;
     text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
}


